name: SwiftFormat

on: workflow_call

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8
      - name: SwiftFormat
        run: swiftformat --lint . --reporter github-actions-log
